@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

body {
  background-color: #191919;
  padding: 30px 280px;

  font-family: "DM Sans";
}

.app {
  gap: 30px;
  display: flex;
  flex-direction: column;
}

p,
a,
h1,
h2,
h3,
span {
  color: white;
}
