@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

body {
  background-color: #191919;
  padding: 30px 280px;

  font-family: "DM Sans";
}

.app {
  gap: 60px;
  display: flex;
  flex-direction: column;
}

p,
a,
h1,
h2,
h3,
span {
  color: white;
}

p {
  color: rgb(170, 163, 163);
  font-size: 22px;
}

button {
  color: white;
  background-color: #118da8;
  border-radius: 6px;
  padding: 15px 19px;

  font-size: 17px;
}

input {
  background-color: #191919;
  border-radius: 6px;
  padding: 20px 15px;
  width: 500px;
  height: 60px;

  color: white;
  font-size: 20px;
}

h2 {
  font-size: 60px;
  letter-spacing: 2.88px;
}

.tag {
  color: #118da8;
  font-size: 18px;
}
